html {
	width: auto;
	height: auto;
	scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: auto;
  height: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ------ DEMO PAGE ------ */

.demo-page {
	background: #161616;
	width: 100%;
	height: 100vh;
	box-shadow: 0px 4px 9px 0px #000000;
}

.demo-content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.demo-title {
	order: 1;
	flex: 0 1 auto;

	display: flex;
	padding-top: 1.5rem;
	align-self: flex-start;

	z-index: 2;
}

.demo-title-heading {
	color: white;
	padding-left: 1rem;
	font-size: 45px;
}

.demo-title-subtitle {
	color: white;
	padding-left: 1rem;
	font-size: 20px;
}

.demo-header {
	position: absolute;
	width: 100%;
	z-index: 20;
	top: 9rem;
	height: 4.5rem;
}
.demo-header-content {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.demo-footer {
	color: white;
	font-size: 3rem;
	position: absolute;
	bottom: 0;

	z-index: 10;

	left: 50%;
	transform: translateX(-50%);

	cursor: pointer;

	animation: bob 1.7s ease-in-out infinite;
}
.demo-footer::before {
	content: "⌄";
	position: absolute;
	bottom: 30%;
}

@keyframes bob {
	0% {
		margin-bottom: 3px;
	}
	50% {
		margin-bottom: 15px;
	}
	100% {
		margin-bottom: 3px;
	}
}

.demo-colour-picker {
	order: 0;
    flex: 2 1 auto;

	display: grid; 
	grid-template-rows: 9rem 1.3fr; 
	grid-template-areas: 
		"."
		"content"; 
}

.demo-colour-picker-content {
	grid-area: content;

	width: 100%;
	height: 100%;

	display: grid; 
  	grid-template-columns: 2fr 5rem; 
	grid-template-rows: 2fr 13rem;
	grid-template-areas: 
		"bg text"
		"code code"; 
		
	align-items: center;
	justify-items: left;
}

.demo-colour-picker-background {
	grid-area: bg;

	width: 100%;
	height: 100%;

	min-width: 15rem;
	min-height: 27rem;
	max-height: 40rem;

	background: #fff;
	border-radius: 0 100px 100px 0;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

.demo-colour-picker-name {
	grid-area: text;

	white-space: nowrap;
	color: white;
	font-size: 35px;
	writing-mode: vertical-rl;

	padding-bottom: 6rem;
}

.demo-colour-picker-code-container {
	grid-area: code;

	width: 100%;
	height: 100%;

	position: relative;
	left: 1.5rem;
	z-index: 3;
	display: inline-table;
}

/* Gradient picker demo */

.demo-gradient-picker {
	order: 2;
    flex: 2 1 auto;

	display: grid; 
	grid-template-rows: 9rem 1.3fr; 
	grid-template-areas: 
		"."
		"content"; 
}

.demo-gradient-picker-content {
	grid-area: content;

	width: 100%;
	height: 100%;

	display: grid; 
  	grid-template-columns: 5rem 2fr; 
	grid-template-rows: 2fr 13rem;
	grid-template-areas: 
		"text bg"
		"code code"; 
		
	align-items: center;
	justify-items: right;
}

.demo-gradient-picker-background {
	grid-area: bg;

	width: 100%;
	height: 100%;

	min-width: 15rem;
	min-height: 27rem;
	max-height: 40rem;

	background: #fff;
	border-radius: 100px 0 0 100px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

.demo-gradient-picker-name {
	grid-area: text;

	white-space: nowrap;
	color: white;
	font-size: 32px;
	writing-mode: vertical-rl;

	padding-top: 7rem;

	transform: scale(-1);
}

.demo-gradient-picker-code-container {
	grid-area: code;

	width: 100%;
	height: 100%;

	position: relative;
	right: -5.3rem;
	z-index: 3;
	display: inline-table;
}

/* ------ DEMO PAGE END ------ */

/* ------ DOCS PAGE ------ */

.docs-page {
	width: 100%;
	height: auto;
	top: 100%;
	background: #212121;
	color: rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: center;
	overflow-y: auto;
}

.docs-page p {
	margin-block-start: 0.7em;
	margin-block-end: 0.7em;
}

.docs-page p code, .docs-page td code {
	color: rgba(232, 230, 227, 0.77);
	padding: 1px 5px 3px;
	background-color: rgb(43, 47, 49);
	background-image: none;
	box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 0px 1px inset;
	border-radius: 3px;
	font-size: 85%;
	vertical-align: middle;
}

.docs-page-sections-container {

	width: 12rem;
	position: relative;
}

.docs-page-sections {
	top: 0;
	position: relative;
}

.docs-page-content {
	padding-top: 1rem;
	width: 45rem;
}


.docs-example-code-container {
	grid-area: code;

	position: relative;
	left: 1rem;
	z-index: 3;
	display: inline-table;
	width: calc(100% - 40rem);
	
}

.docs-example-code {
	width: calc(100% + 2.5rem);
}

.docs-example-code-copy {
	position: absolute;
	right: calc(-2.5rem + 10px);
	top: 21.5px;
	color: white;
}

.docs-example-code-copy:active {
	color: grey;
}

.docs-example-code-highlight {
	overflow: hidden;
	border-radius: 7px;
	box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.3);
}

.docs-props-table {
	border-collapse: collapse;
	border-radius: 5px;
	margin: 1rem;
	background: #191919;
	box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.3);
}
.docs-props-table tbody td {
	border-top: 1px solid white;
}
.docs-props-table td {
	padding-top: 7px;
	padding-bottom: 9px;
}

.docs-props-table-props-header {
 	width: 18%;
}
.docs-props-table-default-header {
 	width: 12%;
}
.docs-props-table-comment-header {
	width: 25%;
}

.docs-header-table { 
	border-spacing: 0px;
}
.docs-header-table-row {
	vertical-align: bottom;
}
.docs-header-table-header {
	padding: 0;
}
.docs-header-table-h2 {
	font-size: 32px;
	font-weight: 200;
	color: rgba(232, 230, 227, 0.77);
	margin-block-start: 0.5em;
	margin-block-end: 0.2em;
}
.docs-header-table-h3 {
	font-size: 27px;
	font-weight: 200;
	color: rgba(232, 230, 227, 0.87);
	margin-block-start: 0.9em;
	margin-block-end: 0.3em;
}
.docs-header-table-h4 {
	font-size: 19px;
	font-weight: 200;
	color: rgba(232, 230, 227, 0.87);
	margin-block-start: 1.6em;
	margin-block-end: 0.5em;
}
.docs-header-table-anchor {
	padding-bottom: 1rem;
	padding-left: 0.7rem;
}
.docs-header-table-anchor a {
	display: flex;
	color: white;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
}
.docs-header-table-anchor:hover a {
	visibility: visible;
}